ruff==0.9.7
python-dotenv==1.0.1
google-api-python-client==2.162.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
pydantic==2.10.6
pydantic-settings==2.8.0
seleniumbase==4.34.12
beautifulsoup4==4.13.3
pytz==2025.1
thefuzz==0.22.1